<style>
    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-Regular.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-Bold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-Black.ttf" | absURL }}) format('truetype');
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-ExtraBold.ttf" | absURL }}) format('truetype');
        font-weight: 800;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-ExtraLight.ttf" | absURL }}) format('truetype');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-Light.ttf" | absURL }}) format('truetype');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-Medium.ttf" | absURL }}) format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-SemiBold.ttf" | absURL }}) format('truetype');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url({{ "fonts/Inter/Inter-Thin.ttf" | absURL }}) format('truetype');
        font-weight: 100;
        font-style: normal;
    }

    body {
        font-family: "Inter";
    }
</style>