{{ $homeLink := .Site.Params.Homepage }}
<!-- {{ if .IsHome }}
    {{ $homeLink = "/" }}
{{ end }} -->
<div class="navbar-header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="menuToggle">
            <!-- <label id="navbar-toggle-label" for="navbar-toggle">☰</label> -->
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            {{ if and .Site.Menus .Site.Menus.main }}
                <div id="menu">
                    {{ $lastIndex := sub (len .Site.Menus.main) 1 }}
                    {{ $currentPage := .RelPermalink }}
                    {{ range $i, $el := .Site.Menus.main }}
                        {{ $active := "" }}
                        {{ if eq $el.URL $currentPage }}
                            {{ $active = "active" }}
                        {{ end }}
                        <a class="{{ $active }}" href="{{ $el.URL }}">{{ $el.Name }}</a>
                    {{ end }}
                </div>
            {{ end }}
            </div>
            <div class="navbar-end">
                <div class="socials">
                    {{ $socials := .Site.Params.socials }}
                    {{ range $el := $socials }}
                        <div class="social">
                            <a href="{{ $el.url }}" {{ if $el.rel_me }} rel="me" {{ end }} target="_blank">
                                <i class="{{ $el.icon }}"></i>
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>    
</div>
